/* For Desktop */

/***************** Header Navigation **********************/
header{
    height: 130px;
}
.c-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;/*side space*/
    width: 100%;
    height: 5em;
}

.c-header__logo {
    width: 70px;
    text-decoration: none;
}

.c-header__list {
    display: flex;
    margin: 0;
    padding: 0;
}

.c-header__list-link { /*a tag**/
    color: #000;
    display: block;
    margin-right: 20px;
    text-decoration: none;
    padding: 10px 0px;
}

.c-hamburger-menu {
    position: relative;
}

.c-header__list-item {
  list-style: none;
  text-decoration: none;
  border-bottom: solid 1px gray;
}

.c-hamburger-menu__list {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: -100%;
    padding: 1em;
    position: absolute;
    transform: translateX(-100%);
    transition: 0.3s;
    top: 100%;
    width: 100%;
}
  
#hamburger:checked ~ .c-hamburger-menu__list {
    left: 0;
    transform: translateX(0%);
    transition: 0.3s;
    background-color: white;
    border-top: 1px solid rgb(217, 217, 217);
    z-index: 1;
}
  
.c-hamburger-menu__input {
    display: none;
}

.c-hamburger-menu__bg { /* background of opened menu*/
    background-color: rgb(232, 232, 232);
    cursor: pointer;
    display: none;
    height: 12em;
    right: 0;
    opacity: 0.2;
    position: absolute;
    top: 100px;
    width: 20em;
    z-index: -1;
}
  
#hamburger:checked ~ .c-hamburger-menu__bg {
    display: block;
}
  
.c-hamburger-menu__button {
    align-items: center;
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 24px;
    justify-content: center;
    width: 30px;
}

.c-hamburger-menu__button-mark {
    background-color: #000;
    display: block;
    height: 2px;
    transition: 0.3s;
    width: 100%; /* length of line*/
}
  
#hamburger:checked /*line*/
  ~ .c-hamburger-menu__button
  .c-hamburger-menu__button-mark:nth-of-type(1) {
     transform: translateY(8px) rotate(45deg);
}
#hamburger:checked /*line*/
  ~ .c-hamburger-menu__button
  .c-hamburger-menu__button-mark:nth-of-type(2) {
    opacity: 0;
}
#hamburger:checked /*line*/
  ~ .c-hamburger-menu__button
  .c-hamburger-menu__button-mark:nth-of-type(3) {
    transform: translateY(-8px) rotate(-45deg);
}

/************* underline ****************/

.underline{
  border-bottom: solid 4px #4361ee;
}

/*********************** hero section **********************************/
#main{
    background-color: var(--color-light-blue);
    max-height: 623px;
    width: 100%;
}
.hero-container{
    display: flex;
    justify-content: space-between;
    margin: 0 5%; /* side space */
    font-size: 16px;
    column-gap: 10px;
}

.hero-left{
    width: 561px;
    height: 300px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 12em;
}

h1{
    padding: 0;
    font-size: 3em;
}

.hero-left button{
    border: none;
    background-color: var(--color-blue-button);
    border-radius: 8px;
    min-width: 166px;
    min-height: 54px;
    align-self: flex-start;
}

.hero-left button a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}

.hero-left button:hover,
.services-wrap button:hover,
.section6 button:hover,
.footer-form-container button:hover{
    color: white;
    background-color: #223174;    
}

.hero-right{
    width: 531px;
    height: 576px;
    margin-top: 8em;
    position: relative;
}

.hero-pic img{
    width: 531px;
    height: 576px;
    position: relative;
    z-index: 2;
}

.hero-dot img{
    width: 126.12px;
    height: 126.12px;
    position: absolute;
    top: -1.8em;
    left: -1.8em;
}

/*********************** main ********************************/
.top-main-wrap{
   width: 100%;
   height: 882px;
   padding-top: 3em;
}

.top-main-wrap h2,
.services-wrap h2{
    font-weight: bold;
    font-size: 3em;
    text-align: center;
}

.top-part-1{
    width: 972px;
    height: calc(153px + 5em);
    padding-top: 5em;
    margin: 0 auto;
    text-align: center;
}
.top-part-1 p,
.top-part-2 p{
    font-size: var(--font-size-normal);
    line-height: 1.5em;
}

.top-part-1 p{
    color: #1A2630;
    margin-top: 1em;
}

.top-part-2{
    display: flex;
    gap: 3%;
    margin: 0 5%; /* side space */
    padding-top: 3em;
}

.top-part-2 img{
    width: 411px;
    height: 381px;
    object-fit: cover;
}

.part-2-p{
    width: 670px;
    height: 326px;
    align-content: flex-end;
    color: #4F5863;
    text-align: left;
}

/**************** our service section ************************/

.services-wrap{
    background-color: var(--color-light-blue);
    padding-top: 4em;
    text-align: center;
}
.bg-1{
    background-image: url(../assets/img/services-item-1.png);
    background-repeat: no-repeat;
    background-size: 100% 320px;
}
.bg-2{
    background-image: url(../assets/img/services-item-2.png);
    background-repeat: no-repeat;
    background-size: 100% 320px;
}
.bg-3{
    background-image: url(../assets/img/services-item-3.png);
    background-repeat: no-repeat; 
    background-size: 100% 320px;
}
.bg-4{
    background-image: url(../assets/img/services-item-4.png);
    background-repeat: no-repeat; 
    background-size: 100% 320px;
}
.bg-5{
    background-image: url(../assets/img/services-item-5.png);
    background-repeat: no-repeat; 
    background-size: 100% 320px;
}
.bg-6{
    background-image: url(../assets/img/services-item-6.png);
    background-repeat: no-repeat; 
    background-size: 100% 320px;
}
.bg-7{
    background-image: url(../assets/img/services-item-7.png);
    background-repeat: no-repeat; 
    background-size: 100% 320px;
}
.bg-8{
    background-image: url(../assets/img/services-item-8.png);
    background-repeat: no-repeat; 
    background-size: 100% 320px;
}
.tile{/* each of tiles*/
    width: 270px;
    height: 320px;
    color: white;
}

.tile-items{/* inside the tiles (img, h3, p)*/
    width: 210px;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 3em;
    display: flex;
    flex-wrap: wrap;
    gap:.5em 0;
    align-content: flex-end;
}

.tile-items p{
    width: 146px;
    height: 22px;
    display: inline-block;
}

.tile-items img{
    width: 36px;
    height: 36px;
    display: inline;
}
.tile-items h3{
    font-size: var(--font-size-normal);
    width: 160px;
    height: 36px;
    line-height: 36px;
    padding-top: .25em;
    padding-left: 14px;
    text-align: left;
    display: inline-block;
    text-wrap: nowrap;
}

.services-contents{
    display: grid;
    width: 90%;
    margin: 0 auto;
    padding-top: 4em;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 48px 30px;
    justify-items: center;
}

.services-wrap button{
    border: none;
    background-color: var(--color-blue-button);
    border-radius: 8px;
    width: 14vw;
    height: 8vh;
    margin: 3.5em 0;
}

.services-wrap button a{
    color: white;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

 /* 기본적으로 모든 텍스트를 숨김 */
 .mobile,
 .tablet,
 .desktop {
   display: none;
 }

 .desktop {
   display: block; /* 데스크탑 텍스트만 보이게 설정 */
 }

 /* section4 */
 .section4 {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
 }

 .section-title {
   font-size: 3rem;
   margin-top: 130px;
   font-weight: 700;
 }

 .section4 hr {
   border: solid 3px #4361ee;
   border-radius: 10px;
   width: 141px;
   margin-top: 3.69px;
   margin-right: 140px;
 }

 .slider {
   display: flex;
   align-items: center;
 }
 .purple-rectangle {
   background-color: #f4f6fe;
   display: flex;
   width: 970px;
   height: 383px;
   border-radius: 20px;
   align-items: center;
   justify-content: space-between;
   padding: 40px;
   margin-top: 82px;
   gap: 63px;
 }

 .setion4-image {
   width: 288px;
   height: 266.98px;
 }

 .section4-text {
   display: flex;
   flex-direction: column;
   gap: 20px;
 }

 .section4-text img {
   width: 38px;
 }

 .purple-rectangle p {
   font-size: 1.25rem;
   text-align: left;
   line-height: 170%;
   font-weight: 300;
 }

 .slider {
   display: flex;
 }

 .prev-button {
   width: 50px;
   height: 50px;
   border-radius: 50%; /* make circle */
   background-color: #e9f4ff;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* shadow */
   transition: background-color 0.3s ease; /* 배경색 전환 애니메이션 */
   font-size: 2rem;
   color: #1a2630;
   margin-right: 40px;
 }

 .next-button {
   width: 50px;
   height: 50px;
   border-radius: 50%; /* make circle */
   background-color: #f4f6fe;
   border: none;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* shadow */
   transition: background-color 0.3s ease; /* 배경색 전환 애니메이션 */
   font-size: 2rem;
   color: #1a2630;
   margin-left: 40px;
 }

 .pagination {
   margin-top: 30px;
 }

 .dot {
   height: 8px;
   width: 8px;
   margin: 0 5px;
   background-color: #edeff9;
   border-radius: 50%;
   display: inline-block;
   cursor: pointer;
 }

 .active {
   background-color: #1a2630;
 }

 /* section5 */
 .section5 {
   flex-direction: column;
   align-items: center;
   text-align: center;
   display: flex;
   justify-content: space-evenly;
 }

 .section5 hr {
   border: solid 3px #4361ee;
   border-radius: 10px;
   width: 141px;
   margin-top: 3.69px;
   margin-right: 190px;
 }

 .blue-rectangle {
   background-color: #e9f4ff;
   padding: 0px 130px;
   margin-top: 75px;
   width: 100vw;
   height: 568px;
   justify-content: space-evenly;
 }

 .contacts-and-forms {
   align-items: center;
   display: flex;
   justify-content: space-evenly;
 }

 .contact-container {
   display: flex;
   flex-direction: column;
   gap: 40px;
   justify-content: space-evenly;
 }

 .contact {
   display: flex;
   text-align: left;
   align-items: start;
 }

 .contact h3 {
   font-size: 1.5rem;
   font-weight: 400;
 }

 .contact h4 {
   font-size: 1.125rem;
   margin-top: 13.5px;
   font-weight: 400;
 }

 .contact img {
   width: 40px;
   height: 40px;
   margin-right: 16px;
   margin-top: -5.5px;
 }

 .form-container {
   background-color: #ffffff;
   box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   position: relative;
   z-index: 1;
   display: flex;
   flex-direction: column;
   padding: 40px;
   gap: 20px;
   width: 570px;
   margin-top: 60px;
 }

 .form-item {
   display: flex;
   flex-direction: column;
   text-align: left;
   gap: 18px;
 }

 .form-item label {
   font-size: 1rem;
 }

 .form-item input {
   width: 481px;
   height: 48px;
   font-size: 1rem;
   border: solid 1px;
   border-color: #e2e7ed;
   color: #9aa5b3;
   border-radius: 10px;
   padding: 16px;
 }

 .form-container button {
   width: 152px;
   height: 54px;
   background-color: #4361ee;
   color: #ffffff;
   margin-top: 10px;
   border: none;
   border-radius: 8px;
   font-size: 1.125rem;
 }

 .form-container button:hover {
   background-color: #324bbb;
 }

 /* section6 */
 .section6 {
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: center;
   display: flex;
 }

 .section6 hr {
   border: solid 3px #4361ee;
   border-radius: 10px;
   width: 168.5px;
   margin-top: 3.69px;
   margin-right: 130px;
 }

 .blog-container {
   display: flex;
   gap: 30px;
   margin-top: 77px;
 }

 .blog {
   width: 370px;
   height: 366px;
   border-radius: 10px;
   background-color: #e9f4ff;
   text-align: left;
 }

 .blog h3 {
   font-size: 1.5rem;
   font-weight: 400;
   margin: 24px 30px 20px 30px;
   text-align: left;
 }

 .blog a {
   font-size: 1rem;
   font-weight: 400;
   margin: 0 30px;
   color: #4361ee;
 }

 .section6 button {
   width: 159px;
   height: 54px;
   border-radius: 8px;
   margin-top: 50px;
   border: none;
   background-color: #4361ee;
   color: #ffffff;
   font-size: 1.125rem;
   margin-bottom: 130px;
 }

 /* footer */

 footer {
   background-color: #03071b;
   color: #ffffff;
   padding-top: 60px;
   padding-bottom: 20px;
   width: 100%;
 }

 .footer-upper {
   display: flex;
   justify-content: space-evenly;
 }

 .footer-upper h3 {
   font-size: 1.25rem;
   font-weight: 700;
 }

 .footer-upper h4 {
   font-size: 1rem;
   font-weight: 400;
 }

 .footer-upper h5 {
   font-size: 0.8rem;
   font-weight: 400;
 }

 .footer-logo {
   margin-bottom: 36px;
 }

 .footer-social-logo {
   display: flex;
   gap: 18px;
 }

 .footer-logo-container{
   grid-area:logo;
 }

 .footer-contact-container {
   display: flex;
   flex-direction: column;
   gap: 20px;
   grid-area: contact;
 }

 .footer-explore-container {
   display: flex;
   flex-direction: column;
   gap: 20px;
   grid-area: explore;
 }

 .footer-form-container {
   display: flex;
   flex-direction: column;
   gap: 20px;
   grid-area: form;
 }

 .footer-contact-item {
   display: flex;
   gap: 10px;
 }

 .footer-form-container form {
   display: flex;
   flex-direction: column;
 }

 .footer-form-container form label {
   margin-bottom: 18px;
 }

 .footer-form-container form input {
   margin-bottom: 14px;
   width: 370px;
   height: 48px;
   background-color: transparent;
   border-radius: 6px;
   border-color: #9aa5b3;
   color: #7b7c82;
   padding: 15px 16px;
   border: solid 1px;
 }

 .footer-form-container form button {
   margin-top: 20px;
   padding: 13.5px 16px;
   font-size: 1rem;
   width: 150px;
   height: 46px;
   border-radius: 8px;
   border: none;
   background-color: #4361ee;
   color: #ffffff;
 }

 .footer-lower {
   margin-top: 61px;
   display: flex;
   justify-content: center;
   font-size: 0.8rem;
   font-weight: 400;
 }

